### Criando lista

In [ ]:
#         1         2         3
lista = ["maça", "banana", "abacate"]
#          0        1         2
print(lista)
print(type(lista))

['maça', 'banana', 'abacate']
<class 'list'>

### Pegando itens de uma lista

In [ ]:
print(lista[0])
print(len(lista))

IndexError: ignored

### capturando o último item

In [ ]:
lista = ["maça", "banana", "abacate"]
print(lista[len(lista)-1])
print(lista[-1])

abacate
abacate

In [ ]:
lista_numeros = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
print(lista_numeros[3:7])
print(lista_numeros[:7]) # pega do primeiro índice até o 7
print(lista_numeros[3:]) # pega do terceiro índice até o último

[4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[4, 5, 6, 7, 8, 9, 10]

In [ ]:
lista_nomes = []

In [ ]:
lista_nomes.clear()
lista_nomes.append("José")
lista_nomes.append("José")
lista_nomes.append("José")
lista_nomes.append("Maria")
lista_nomes.append("Rose")
lista_nomes.append("Raissa")
lista_nomes.append("Thiago")

In [ ]:
print(lista_nomes)

['José', 'José', 'José', 'Maria', 'Rose', 'Raissa', 'Thiago']

In [ ]:
lista_nomes.insert(2,"João")
print(lista_nomes)
#['José', 'Maria', 'João', 'Rose', 'Raissa', 'Thiago']

['José', 'José', 'João', 'José', 'Maria', 'Rose', 'Raissa', 'Thiago']

In [ ]:
lista_nomes.remove("José")
print(lista_nomes)

['José', 'João', 'José', 'Maria', 'Rose', 'Raissa', 'Thiago']

In [ ]:
if "Thiago" in lista_nomes:
  print('Thiago está na lista')

Thiago está na lista

In [ ]:
for indice in lista_nomes:
  print(indice)

José
João
José
Maria
Rose
Raissa
Thiago

## Escreva um algoritmo que calcula a idade média de uma lista de pessoas que usam um produto x

#$ (∑_{i=1}^{n} Idade[i]) / ||Idade|| $

In [ ]:
idades = [28,26,32,52,41,23,25,32,30,20]
tamanho_colecao = len(idades)
soma = 0
for idade in idades:
  soma = soma + idade
print(round(soma / tamanho_colecao,0))

31.0

# Apresente todos os meses pares presente no ano

#$∑_{i=1}^{n/2} {meses[i*2]}$

In [ ]:
from re import M
meses = ('Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez')

for mes in range(1, len(meses),2):
  print(meses[mes])
print("\n")
for mes in range(1, int(len(meses)/2)+1):
  print(meses[mes])
  mes *= 2

Fev
Abr
Jun
Ago
Out
Dez


Fev
Mar
Abr
Mai
Jun
Jul

In [ ]:
3600 + 1300 + 150 + 3000

8050